[submodule "LabView-Client"]
	path = LabView-Client
	url = https://github.com/BreD1810/LabView-Client.git
[submodule "LabView-Server"]
	path = LabView-Server
	url = https://github.com/BreD1810/LabView-Server.git
[submodule "LabView-Webpage"]
	path = LabView-Webpage
	url = https://github.com/BreD1810/LabView-Webpage.git
